/* @import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
body {
  overflow: hidden;
}

.pyramid {
  position: absolute;
  right: 50vw;
  bottom: 0;
  width: 0;
  height: 0;
  transform: translateX(0);
  border-style: solid;
  border-width: 0 100vw 120vw 100vw;
  border-color: transparent transparent #000000 transparent;
}

.sand {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 9vw;
  min-height: 8rem;
  background: #0b0b0b;
}

.ternary-system {
  position: absolute;
  bottom: 0;
  left: 82vw;
  transform: translateX(-100%);
}

.sun {
  position: relative;
  border-radius: 50%;
  background: #0d0d0d;
}

.sun.primary {
  position: absolute;
  top: 15vw;
  left: 5vw;
  width: 1rem;
  height: 1rem;
}

.sun.secondary {
  position: absolute;
  top: 5vw;
  left: 11vw;
  width: 16vw;
  max-width: 6rem;
  height: 16vw;
  max-height: 6rem;
}

.sun.ternary {
  right: 0;
  transform: translateX(10.8rem);
  width: 80vw;
  max-width: 800px;
  height: 80vw;
  max-height: 800px;
}

.pendulums {
  position: absolute;
  width: 50px;
  height: 200px;
  right: 35vw;
  top: -120px;
  perspective: 400px;
}

.pendulum {
  position: absolute;
  width: 50px;
  height: 200px;
  right: 44%;
  top: 0;
  left: 50%;
  transform: translateZ(-300px) translateX(-50%);
}

.pendulum.shadow {
  top: 263%;
  left: -65%;
  bottom: 0;
  transform-origin: 50% 0;
  transform: translateX(-50%) scaleY(-1) scaleZ(2) rotateY(-30deg) rotateX(-75deg) translateZ(300px);
}

.pendulum .bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: block;
  width: 20px;
  height: 200px;
  background: #333;
}

.pendulum .string {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 150px;
  background: #333;
}

.pendulum .weight {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #333;
}

.pendulum .motion {
  position: absolute;
  height: 200px;
  width: 50px;
  transform-origin: 50% 10px;
  animation: swing 1600ms infinite ease-in-out;
}

.pendulum.shadow .bar,
.pendulum.shadow .string,
.pendulum.shadow .weight {
  background: #3d3a34;
}

.text {
  position: absolute;
  width: auto;
  right: 18vw;
  bottom: calc(63vh);
  transform: translateY(50%);
  font-size: 2.6rem;
}

.title {
  text-align: center;
  font-size: 1em;
  font-family: "Oswald";
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.3em;
  margin: 0;
  color: #222;
}

.title strong {
  display: block;
  font-weight: 700;
  font-size: 2em;
  line-height: 1em;
}

.title em {
  font-style: normal;
  font-weight: 400;
  font-size: 1.899em;
  line-height: 1em;
  letter-spacing: 0.29em;
  margin-left: 0.25em;
}

p {
  position: absolute;
  left: 50%;
  transform: translateX(3.2em);
  font-family: "Oswald";
  font-size: 0.6em;
  color: #222;
  margin: 0 17px;
  padding: 0;
  text-align: right;
}

@keyframes swing {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@media only screen and (orientation: portrait) {
  .text {
    right: 50%;
    top: 10%;
    transform: translateX(50%);
    font-size: 7vw;
  }

  .title {
    font-size: 1em;
  }
}
button{
    width: 100px;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    border: none;
} */
/*-------------------STYLES----------------*/
/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  width: 100px;
  font-size: 16px;
  padding: 5px;
  background-color: #2e2e2e;
  color: white;
  border: none;
  box-shadow: 0 0 2px 1px white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* other */
.info {
  margin: 20px 0;
  text-align: center;
}

p {
  color: #2e2e2e;
  margin-bottom: 20px;
}


/* block-$ */
.block-effect {
  font-size: calc(8px + 6vw);
}

.block-reveal {
  --t: calc(var(--td) + var(--d));
  color: transparent;
  padding: 4px;
  position: relative;
  overflow: hidden;
  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: '';
  width: 0%;
  height: 100%;
  padding-bottom: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}


/* animations */
@keyframes revealBlock {
  100% {
    color: #0f0f0f;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }

}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, .6);
  font-size: 16px;
}